* {
	font-family: Helvetica, Arial, sans-serif;
	box-sizing: border-box;
}

input {
	padding: 1%;
	border: 2px solid #222;
	transition: .5s all ease;
}	

input:focus {
	outline: none;
	border: 5px solid #222; 
}

.headerContainer {

	text-align: center;

	h1 {
		font-size: 96px;
		text-align: center;
		color: fuchsia;
		margin-bottom: 2%;
	}
}

input[type="text"] {
    padding: 1%;
    border: 2px solid black;
    background: #666;
    transition: .5s all ease;
    font-size: 24px;
    margin-top: 6px
}

input[type="text"]:focus {
    outline: none;
    border: 2px solid #222;
    background: white;
}

a { text-decoration: none;
    color: white;
    padding: .5%;
    margin: 2%;
    padding-bottom: 40px;  
}

div#navBar {
    text-align: center;
    margin: 5%;
    text-decoration: none;
    background: #66b3ff;
    color: white;
    padding: 1%;
    margin: 0.2%;
}

#container {
	margin-top: 5%;
}

.snippet {
	font-size: 24px;
	border: 2px solid #66b3ff;
	padding: 3%;
	margin: 3%;
    display: inline-block;
    width: 21%;
    height: 60vh;
    vertical-align: top
}
img {
    display: block;
    height: 300px;
    margin: auto;
}

img.collectionImg {
    height: 150px;
    width: 150px;
    margin: auto;
}

.newsContainer {
	width: 70%;
	margin: 5% auto;

	.articleContainer {
		margin-bottom: 5%;
	}

	h2,button {
		display: inline-block;
		vertical-align: middle;
	}

	h2 {
		width: 80%;
		margin-bottom: 0;
	}

	button,p {
		font-size: 24px;
	}

	button {
		padding: 2%;
		border: #222;
		outline: none;
		background: tomato;
		border-radius: 6%;
		margin-left: 3%;
		color: white;
		cursor: pointer;
	}

	button.expand {
		background: cadetblue;
		display: block;
		width: 40px;
		margin: 0 auto;
		height: 40px;
		font-size: 24px;
		line-height: 24px;
		padding: 0;	
	}
}